<div id="<%= dom_id customer %>">
  <p>
    <strong>Nome:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= customer.birthday %>
  </p>

  <p>
    <strong>Observação:</strong>
    <%= customer.obs %>
  </p>

</div>
