
<html >
<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div style='padding-left:40rem; color:white; font-size:25px; text-shadow: 0.1em 0.1em 0.2em black'>
  <div style='padding:10px;' >
    <%= form.label :nome%>
    <%= form.text_field :nome %>
  </div>

  <div style='padding:10px;'>
    <%= form.label :email%>
    <%= form.text_field :email %>
  </div>

  <div style='padding:10px;'>
    <%= form.label :Data_de_nascimento%>
    <%= form.date_field :Data_de_nascimento%>
  </div>

  <div style='padding:10px;'>
    <%= form.label :observação%>
    <%= form.text_area :observação%>
  </div>


  <div style='padding:10px;'>
    <%=form.submit %>
  </div>
  </div>

<% end %>
<html>

<style>
html {
    background: url(<%= asset_path 'formulario.png' %>);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;

}

</style>