
<html style="background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div style='padding-left:40rem;  border: 6px solid white; '>
  <div style='padding:10px;'>
    <%= form.label :nome%>
    <%= form.text_field :nome %>
  </div>

  <div style='padding:10px;'>
    <%= form.label :email%>
    <%= form.text_field :email %>
  </div>

  <div style='padding:10px;'>
    <%= form.label :Data_de_nascimento%>
    <%= form.date_field :Data_de_nascimento%>
  </div>

  <div style='padding:10px;'>
    <%= form.label :observação%>
    <%= form.text_area :observação%>
  </div>


  <div style='padding:10px;'>
    <%= form.submit %>
  </div>
  </div>

<% end %>

<html>
